# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

/src/assets/css/tailwind.output.css

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.vercel
/.dfx
/.dfx
/.dfx/ic/lsp
/.dfx/ic
.dfx/ic/lsp/4ramb-vaaaa-aaaan-qmi2a-cai.did
